---
layout: default
---

{% include nav.html%}

<main >
<section class="   aboutus">

<div class="animated bounceInDown container about">
<h3 class="about__title center-text">À propos de nous</h3>
 <div class="aboutus__description">
<p class="center-text">S'engager à garder votre <br> entreprise propre et propre</p>
 </div>
    </div>
   
<ul class="animated bounceInDown about__details container">
<li>
    Crée en 1998 sous le nom de sogesmi notre entreprise assure
    diverses prestation de services d'entretien.
</li>
<li>
Parmi ses membres fondateurs certains ex-fonctionnaires des
forces de l'armée royale ayant fais valoir leurs droits à la retraite
anticipée pour se reconvertir dans la vie privé en dirigeant cette
société et en enseignant leurs acquis pour une meilleurs
fonctionnalité.
</li>
        </ul>
  
    </section>

    <section class="statistics spacer container">
        <div class="statistics__description center-text">
            
<span class="statistics__number numscroller" data-min='1' data-max='740' data-delay='5' data-increment='4'>740</span>
<p class="statistics__details">Maisons propres</p>
        </div>
<div class="statistics__description center-text">
<span class="statistics__number numscroller " data-min='1' data-max='145' data-delay='5' data-increment='4'>145</span>
<p class="statistics__details">Membres du personnel</p>
    </div>
    <div class="statistics__description center-text">
<span class="statistics__number numscroller" data-min='1' data-max='850' data-delay='5' data-increment='4'>850</span>
<p class="statistics__details">Clients heureux</p>

    </div>

    <div class="statistics__description center-text">
<span class="statistics__number numscroller" data-min='1' data-max='8' data-delay='5' data-increment='4'>8</span>
<p class="statistics__details">Années d'activités</p>
    </div>

    </section>
</main>
{%include footer.html%}