---
layout: default
---

{% include nav.html%}
<style>
.bx-next,.bx-prev, .bx-pager-item{
    display: none;
}
</style>
<main>
    <section class="home__header">
       
<p class="home__description">Entreprise de Prestation Services Divers </p>
<p class="second__description container">Des professionnels fiables du nettoyage de la maison desservent dans tout le Maroc</p>
       <!-- <img class="animated  bounceIn  transparent__image" src="./assets/images/transparent.jpeg" alt="">  -->
    </section>


    <section class="contact"> <!--begin contact-->
<span class="contact__number">Contacter nous au 037 56 13 08</span>
    </section>  <!--end contact-->

    <section class="whyus">   <!--begin why us-->
<span class="whyus__title">Pourquoi nous choisir?</span>
   
<div class="whyus__reasons">
       <p class="whyus__description">
Nettoyeurs <br> professionnels <br> certifiés
       </p>
       <p class="whyus__description">
Nettoyage <br> écologique
       </p>

<p class="whyus__description">
Soirées et fins
 <br> 
de semaine disponibles
       </p>

       <p class="whyus__description">
Satisfaction
 <br>
 100% garantie
       </p>
    </div>
    </section>  <!--end why us-->

    {%include services.html %}

  
    
<div class="bxslider slide">
<div ><img class="slide__image" src="/assets/images/slide3.jpeg"></div>
    <div><img class="slide__image" src="/assets/images/slide1.jpeg" ></div>
    <div><img class="slide__image" src="/assets/images/slide2.jpeg" ></div>
<div><img class="slide__image" src="/assets/images/slide4.jpeg"></div>
<div><img class="slide__image" src="/assets/images/slide5.jpeg"></div>
</div>

 

    <section class="contact__home spacer">
<h3 class="contact__title center-text container">Pour toute demande de renseignements ou suggestions sur notre <br> site, n'hésitez pas à nous
    contacter, nous vous répondrons dans les <br> plus brefs délais.</h3>
      {%include contact.html %}
    </section>
</main>

{% include footer.html %}