---
layout: default
---

{% include nav.html%}

<main>
    <header>
        <img src="./assets/images/car.jpg" alt="">
    </header>
    <section>
<h2 class="means__title center-text">Nosprestataires</h2>
<div class="container means">
   <div class="mean">
       <img src="./assets/images/partners/tresorerie-generale-du-royaume-maroc-log.webp" alt="" srcset="">
   </div>
<div class="mean">
    <img src="./assets/images/partners/CGI.webp" alt="">

</div>
<div class="mean">
    <img src="./assets/images/partners/CNOPS (1).webp" alt="" >
</div>
<div class="mean ">
    <img src="./assets/images/partners/logo-3-1.webp" alt="" >
</div>
<div class="mean">
    <img src="./assets/images/partners/ONCF__yak_maroc_annuaire_des_entreprises.webp" alt="" srcset="">
</div>

<div class="mean">
    <img src="./assets/images/partners/Onep_jpg.webp" alt="" >
</div>
<div class="mean">
    <img src="./assets/images/partners/téléchargement.webp" alt="" srcset="">
</div>
<div class="mean">
    <img src="./assets/images/partners/tresorerie-generale-du-royaume-maroc-log.webp" alt="" srcset="">
</div>

<div class="mean">
    <img src="./assets/images/partners/websize.webp" alt="" srcset="">
</div>
</div>
    </section>
</main>

{% include footer.html %}