---
layout: default
---
{% include nav.html%}
<main>
    <div class="background">
<section class="differentservice ">

        <div  class="container wrap">
    <h2 class="differentservice__title container ">Nos différents services</h2>

<p class="differentservice__slogan ">Quand on dit propre, <br> on entend immaculé</p>
    <p class="differentservice__info">
Sogesmi net propose de nombreuses<br> prestations adaptables aux besoins <br> et aux situations spécifiques de chaque client :
    </p>
        </div>

        <ul class="differentservice__description container">
<li class="differentservice__listing">Des entreprises privées du secteur tertiaire, industriel et commercial</li>
<li class="differentservice__listing">Du secteur public : mairies, crèches, écoles</li>
<li class="differentservice__listing">De secteur associatif : accueil de personnes en situation de handicap, milieu sportif, etc…..</li>
<li class="differentservice__listing">Du milieu médicalisé</li>
<li class="differentservice__listing">Des particuliers pour le nettoyage de la vitrerie, remise en état avant emménagement ou après déménagement, remise
    en état après travaux</li>

<li class="differentservice__listing">Nettoyage quotidien, périodique ou ponctuel sur tous types de surface ( sol industriel, moquette,
    thermoplastique…..)</li>
<li class="differentservice__listing">Entretien régulier ou nettoyage ponctuel de tous types de locaux</li>
<li class="differentservice__listing">Nettoyage et désinfection des sanitaires</li>
<li class="differentservice__listing">Entretien régulier ou ponctuel de la vitrerie</li>
<li class="differentservice__listing">Nettoyage de fin de chantier</li>
<li class="differentservice__listing">Fourniture des consommables des sanitaires</li>
<li class="differentservice__listing">Traitement des sols plastique (spray méthode, décapage et métallisation)</li>

        </ul>
    </section>
</div>

<section class="whatweoffer">
    <div class="cards container">
        <div class="card">
            <div class="card__images">
               <img class="card__image" src="./assets/images/service1.webp" alt="">
            </div>
            <div class="card__description ">
<p>Ménage nettoyage</p>
            </div>
        </div>

<div class="card">
    <div class="card__images">
        <img class="card__image" src="./assets/images/service2.webp" alt="">
    </div>
    <div class="card__description ">
<p>Services de ménage</p>
    </div>
</div>

<div class="card">
    <div class="card__images">
        <img class="card__image" src="./assets/images/service3.webp" alt="">
    </div>
    <div class="card__description ">
<p>Lavage vitres</p>
    </div>
</div>

<div class="card">
    <div class="card__images">
        <img class="card__image" src="./assets/images/service4.png" alt="">
    </div>
    <div class="card__description ">
<p>Nettoyage commercial</p>
    </div>
</div>

<div class="card">
    <div class="card__images">
        <img class="card__image" src="./assets/images/service5.png" alt="">
    </div>
    <div class="card__description ">
<p>Nettoyage Entrée/Sortie</p>

    </div>
</div>

<div class="card">
    <div class="card__images">
        <img class="card__image" src="./assets/images/service6.png" alt="">
    </div>
    <div class="card__description ">
<p> Nettoyage de tapis</p>
       
    </div>
</div>


    </div>
</section>
</main>
{% include footer.html%}