<div class="flex__contact container" id="contact">
    <div class="map">
<iframe class="map__item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6950466.548279027!2d-11.645793223555188!3d31.721835987871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0b88619651c58d%3A0xd9d39381c42cffc3!2sMorocco!5e0!3m2!1sen!2sgm!4v1551304054841"
     frameborder="0" width="100%" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="form container">
<form action="https://formspree.io/sogesminet@gmail.com" method="POST">
         <div>
             
             <input class="input" placeholder="Nom" type="text" name="" id="name">
         </div>

         <div>
          
             <input class="input" placeholder="Email" type="email" name="" id="email">
         </div>
         <div>
             <input class="input" placeholder="Assujettir" type="text">
         </div>

         <textarea  name="" id="" cols="30" rows="10"></textarea>

          <div>
              <input type="submit" value="Somettre">
          </div>
<!-- <input type="hidden" name="_next" value="https://festive-boyd-429fc0.netlify.com/thanks.html" /> -->
        </form>
    </div>
</div>