<div class="background">
<footer class="footer center-text container">

  <div class="ourenterprise">
<h3 class="ourenterprise__title spacer"> Notre Entreprise</h3>
  <p>
Confiez l’hygiène de votre entreprise ou de votre résidence aux spécialistes de notre entreprise de nettoyage, Sogesmi
net Nettoyage , que vous soyez professionnel ou particulier, nous assurons une propreté irréprochable de vos locaux
grâce nos produits et notre équipement haut de gamme. Demandez votre devis gratuit dès maintenant !
  </p>
  </div>

  <div class="address">
<h3 class="spacer">Siège social</h3>
<p>
253,Bis Guich Loudaya <br> Témara Maroc – <br>
Tél:+212 37561039/561308 <br> –Fax:+212 37561039
</p>
  </div>


  <div class="office__hours">
<h3 class="spacer">Heures de fonctionnement</h3>
<p>
    
    Du Lundi au Vendredi : 8h - 18H

    <div class="icon">
<a href="https://www.facebook.com/Sogesminet/"><img src="../assets/images/facebook.png" alt=""></a>
    </div>

 
</p>
  </div>
</footer>
</div>