<div class="flex__nav">
<header class="header"> <!--begin header-->

<div class="container header__items">
<a href="/" class="header__logo">SOGESMINET</a>
<span class="menu-button" onclick="opennav()">&#9776</span>
<span  onclick="closenav()" class="header__close-btn">&times;</span>
</div>

</header> <!--end header-->

<nav class="nav"> <!--begin nav-->
<a href="/">Page d'accueille</a>
<a href="aboutus.html">À propos de nous</a>
<a href="services.html">services</a>
<a href="means.html">Nos moyens</a>
<a href="index.html#contact">Contact</a>
</nav> <!--end nav-->
</div>