<section class="services">
<h3 class="services__title">Nos services</h3>
<div class="grid__services">
<div class="service">
    <img class="service__image" src="../assets/images/s1.jpeg" alt="">
    <p class="service__description">
Ménage <br> nettoyage
    </p>
</div>
 <div class="service">
    <img class="service__image" src="../assets/images/s2.webp" alt="">
<p class="service__description">
Services <br> de ménage
</p>
</div>
<div class="service">
    <img class="service__image" src="../assets/images/s3.webp" alt="">
<p class="service__description">
Lavage <br> de vitres
</p>
</div>
<div class="service">
    <img class="service__image" src="../assets/images/s4.webp" alt="">
<p class="service__description">
Nettoyage <br> de tapis

</p>
</div> 

<div class="service">
    <img class="service__image" src="../assets/images/s5.webp" alt="">
    <p class="service__description">
        Nettoyage <br> de tapis

    </p>
</div>

<div class="service">
    <img class="service__image" src="../assets/images/s6.webp" alt="">
    <p class="service__description">
        Nettoyage <br> de tapis

    </p>
</div>
</div>
</section>