.slider {
    img {
        width: 100%;
    }
}
.logo{
    width: 50px;
}

.second__description{
    color: $color-secondary;
    font-size: 1.4rem;
        margin-top: -4rem;
}
.home__header{
 background-image: url(/assets/images/1.jpeg);
 height: 600px;
 background-repeat: no-repeat;
 background-size: cover;
}

.home__description {
    text-align: center;
    display: block;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
    color: $color-primary;
    height: 80%;



}
.contact {
    margin: 2rem auto;
    width: 50%;

    &__number {
        color: $color-primary;
        letter-spacing: 0.08em;
    }
}

.whyus {
    background: $color-tertiary;
    font-weight: bolder;
    text-align: center;
    color: $color-secondary;
    padding-top: 1rem;

    &__title {
        font-weight: 500;
    }

    &__description {
        font-weight: bold;
        border-top: 2px solid $color-primary;
        width: 50%;
        margin: 1rem auto;
        padding: 1rem 0;
    }
}

.service__description {
    position: relative;
    padding-top: 2rem;
    color: $color-white;
    left: 2rem;
}

.service__image {
    display: block;
    margin: 0 auto;
    position: absolute;
    

    // width: 90%;
}

.services {
    // width: 90%;
    margin: 0 auto;

    &__title {
        text-align: center;
        color: $color-primary;
    }
}

.second--slider {
    padding-top: 4rem;
}

.contact__title {
    font-size: 1.3rem;
    color: $color-primary;
    margin-bottom: 2rem;
}

input {
    height: 40px;
}

::placeholder {
    color: $color-secondary;
}

input[type="submit"] {
    background: $color-tertiary;
    color: $color-primary;
    font-weight: bold;
    width: 100%;
    border: none;
}

input::selection {
    color: $color-tertiary;
}

.input,
textarea {
    width: 100%;
    margin-top: 2rem;
    border: none;
    border-bottom: 2px solid #eee;
    border-bottom-color: $color-primary;
}

.slide {
    margin-top: 3rem;

    &__image {
        width: 100%;
    }
}

.form {
    margin-top: 2rem;
}

.footer {
    background: $color-primary;
    color: $color-white;
}

.spacer {
    padding-top: 1rem;
}

.ourenterprise__title {
    font-size: 1.5rem;
    font-weight: bold;
}

.background {
    background: $color-primary;
}

@include respond-to(tablet-large) {
    .contact__number {
        font-size: 2.5rem;
    }

    .logo{
        width: 80px;
        height: 35px;
    }

      .home__description {
          font-size: 2.5rem;
          padding-top: 2.5rem;

      }
    .whyus__reasons {
        display: flex;
    }

    .whyus__title {
        font-size: 2.5rem;
    }

    .whyus__description {
        border: none;
        border-left: 2px solid $color-primary;
        padding: 0;
        font-size: 1.2rem;
    }

    .service__description {
        font-size: 1.5rem;
        padding-top: 3.3rem;
    }

    .services__title {
        font-size: 2.5rem;
    }

    .grid__services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 60%;
        margin: 0 auto;
    }

    .flex__contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .form {
        width: 40%;
    }

    .footer {
        display: flex;
        justify-content: space-around;
        margin-top: 3rem;
        font-size: .9rem;
    }

    .ourenterprise {
        flex-basis: 30%;
        text-align: left;
    }

    .address {
        flex-basis: 20%;
        text-align: left;
    }

    .office__hours {
        flex-basis: 25%;
        text-align: left;
    }
}
